<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="loccommGwApp.address.detail.title">Address</span> {{ address.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="loccommGwApp.address.address">Address</span></dt>
                <dd>
                    <span>{{ address.address }}</span>
                </dd>
                <dt><span jhiTranslate="loccommGwApp.address.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="address.customer">
                        <a [routerLink]="['/customer', address.customer?.id, 'view']">{{ address.customer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
